<ejs-toolbar>
  <e-items>
    <e-item routerLink="/crm/customer-orders" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Customer Orders" i18n-text> </e-item>
    <e-item routerLink="/crm/customers" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Customers" i18n-text></e-item>
    <e-item routerLink="/crm/invoices" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Invoices" i18n-text> </e-item>
  </e-items>
</ejs-toolbar>
<app-page-identity></app-page-identity>
<router-outlet></router-outlet>
