<section class="e-card">
  <form [formGroup]="workOrderForm" novalidate id="workOrderForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <ejs-dropdownlist [allowFiltering]="true" name="orderedBy" formControlName="orderedBy" id='orderedBy'
            placeholder="Ordered By" floatLabelType="Auto" [query]="employeeQuery" [fields]="employeeFields"
            [dataSource]="employeesList"> </ejs-dropdownlist>

        </div>
        <div class="col-sm-6 col-xs-12">
          <div class=" e-success ">
            <input class="e-input" type="text" floatLabelType="Auto" formControlName="description" placeholder="Enter Description" />
          </div>
        </div>
      </div>
      <div formArrayName="orders">
        <div class="row" *ngFor="let order of orders.controls; let i=index; let last=last;" [formGroup]="order">
          <div class="col-sm-3 col-xs-12">


            <ejs-dropdownlist [allowFiltering]="true" [attr.name]="itemId" formControlName="itemId" [attr.id]="'itemId'+i"
              placeholder="Select Item" floatLabelType="Auto" [query]="itemQuery" [fields]="itemFields" [dataSource]="itemsList">
            </ejs-dropdownlist>

          </div>
          <div class="col-sm-3 col-xs-12">
            <div class=" e-success">
              <ejs-numerictextbox [attr.class]="'e-input'" min="0" floatLabelType="Auto" formControlName="quantity"
                [attr.name]="'quantity'+i" placeholder="Quantity" [attr.id]="'quantity'+i"></ejs-numerictextbox>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">

            <ejs-datepicker floatLabelType="Auto" formControlName="dueDate" [min]="today" [attr.id]="'dueDate'+i"
              [attr.name]="'dueDate'+i" format="yyyy-MM-dd"></ejs-datepicker>

          </div>
          <div class="col-sm-3 col-xs-12">

            <button type="button" ejs-button class="e-success e-outline e-small e-round" [disabled]="orders.invalid || !last"
              (click)="addOrder()">add</button>
            <button type="button" ejs-button class="e-warning e-outline e-small" [disabled]="orders.length == 1"
              (click)="orders.removeAt(i)">remove</button>

          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col col-xs-12">
          <button type="submit" [disabled]="workOrderForm.invalid" ejs-button>Submit</button>
          <button type="button" ejs-button>Cancel</button>
        </div>
      </div>
    </div>

  </form>
</section>
