/* You can add global styles to this file, and also import other style files */


.e-grid .e-rowcell.custom-grid-header {
  font-family: 'Bell MT';
  font-size: 11px;
}

.e-grid .e-headercell.info-grid-header {
  background-color: #2382c3;
  color: white;
  font-family: 'Bell MT';
  font-size: 16px;
  word-wrap: break-word;
}

.e-grid .e-rowcell.info-grid-header {
  font-family: 'Bell MT';
  font-size: 12px;
}

.e-grid .e-headercell.custom-grid-header {
  background-color: #2382c3;
  color: white;
  font-family: 'Bell MT';
  font-size: 13px;
  word-wrap: break-word;
  padding: 0;
  margin: 0;

}

.e-grid .e-altrow {
  background-color: #fafafa;
}


.e-filtermenudiv.e-icons.e-icon-filter {
  padding-right: 2em;
}

.e-search:before {
  content: '\e993';
}


.e-plus-icon:before {
  content: '\e7f9';
}

.e-add-icon:before {
  content: '\e823';
}

.e-delete-icon:before {
  content: '\e825';
}



dt {
  float: left;
  margin-right: 1em;
}


.e-save-icon::before {
  content: '\e98e';
}

.e-close-icon::before {
  content: '\e208';
}

body {
  background: honeydew !important;
}

.label-area,
label {
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: .9em;
  font-weight: bold;
}


.e-input,
input.e-input {
  padding: 0px !important;
}

section {
  margin-top: 1em;
  margin-bottom: 1em;
}


ejs-numerictextbox span.e-spin-up,
ejs-numerictextbox span.e-spin-down {
  display: none !important;
}



.e-btn-icon.e-delete.e-icons {
  color: red;
}
