/* You can add global styles to this file, and also import other style files */


.e-grid .e-rowcell.custom-grid-header{
  font-family: 'Bell MT';
  font-size: 11px;
}

.e-grid .e-headercell.info-grid-header{
  background-color: #2382c3;
  color: white;
  font-family: 'Bell MT';
  font-size: 16px;
  word-wrap: break-word;
}

.e-grid .e-rowcell.info-grid-header{
  font-family: 'Bell MT';
  font-size: 12px;
}

.e-grid .e-headercell.custom-grid-header{
  background-color: #2382c3;
  color: white;
  font-family: 'Bell MT';
  font-size: 13px;

}
.e-headercelldiv {
  text-align: left;
  padding: 0;
}

.ng-invalid.ng-touched.e-success, .ng-invalid.ng-touched > span.e-control-wrapper {
  border-color: rgb(194, 59, 59) !important;
  border-bottom-width: unset !important;
}

.ng-valid.ng-touched,
.ng-valid.ng-touched.e-input-focuse,
.ng-valid.ng-touched > span.e-control-wrapper,
.ng-valid.ng-touched > span.e-control-wrapper.e-input-focus {
  border-color:rgb(31, 255, 31) !important;
  border-bottom-width: unset !important;
}

