<section class="e-card">
  <h3 class="text-info text-center">Customer Order Form</h3>
  <form [formGroup]="salesOrderForm" novalidate id="salesOrderForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <app-form-options [submitDisabled]='salesOrderForm.invalid'></app-form-options>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <ejs-dropdownlist [allowFiltering]="true" name="client" i18n-placeholder="Customer Name" formControlName="client" id='client' placeholder="Client"
                floatLabelType="Auto" [query]="customersQuery" [fields]="customerFields" [dataSource]="customersList">
              </ejs-dropdownlist>
              <div class="e-error"></div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <ejs-dropdownlist [allowFiltering]="true" name="status" formControlName="status" id='status' placeholder="Status"
                floatLabelType="Auto" [dataSource]="orderStatus"> </ejs-dropdownlist>
            </div>
            <div class="col-12">
                <ejs-datepicker floatLabelType="Auto" placeholder="Select Due Date" formControlName="deliveryDate" [min]="today"
                  id="deliveryDate" name="deliveryDate" format="yyyy-MM-dd hh:ss"></ejs-datepicker>
              </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-12">
              <ejs-dropdownlist [allowFiltering]="true" name="orderedBy" formControlName="orderedBy" id='orderedBy'
                placeholder="Ordered By" floatLabelType="Auto" [query]="employeeQuery" [fields]="employeeFields"
                [dataSource]="employeesList"> </ejs-dropdownlist>
            </div>

                <div class="col-sm-12 col-xs-12">
                    <div class=" e-success ">
                      <input class="e-input" type="text" floatLabelType="Auto" formControlName="description" placeholder="Enter Description" />
                    </div>
                  </div>

          </div>
        </div>
      </div>
      <h5 class="text-info">Items</h5>

      <div formArrayName="orders">
        <div class="row" *ngFor="let order of orders.controls; let i=index; let last=last;" [formGroup]="order">
          <div class="col-sm-3 col-xs-12">


            <ejs-dropdownlist [allowFiltering]="true" [attr.name]="itemId" formControlName="itemId" [attr.id]="'itemId'+i"
              placeholder="Select Item" floatLabelType="Auto" [query]="itemQuery" [fields]="itemFields" [dataSource]="itemsList">
            </ejs-dropdownlist>

          </div>
          <div class="col-sm-2 col-xs-12">

            <ejs-numerictextbox [attr.class]="'e-input'" min="1" floatLabelType="Auto" formControlName="quantity"
              [attr.name]="'quantity'+i" placeholder="Quantity" [attr.id]="'quantity'+i"> </ejs-numerictextbox>
          </div>
          <div class="col-sm-2 col-xs-12">

            <ejs-numerictextbox [attr.class]="'e-input'" min="1" floatLabelType="Auto" formControlName="unitPrice"
              [attr.name]="'price'+i" placeholder="Unit Price" [attr.id]="'Price'+i"> </ejs-numerictextbox>
          </div>
          <div class="col-sm-3 col-xs-12">
            <ejs-datepicker floatLabelType="Auto" placeholder="Select Due Date" formControlName="dueDate" [min]="today"
              [attr.id]="'dueDate'+i" [attr.name]="'dueDate'+i" format="yyyy-MM-dd hh:ss"></ejs-datepicker>

          </div>
          <div class="col-sm-2 col-xs-12">

            <button type="button" ejs-button class="e-success e-outline e-small e-round" [disabled]="orders.invalid || !last"
              (click)="addOrder()">add</button>
            <button type="button" ejs-button class="e-warning e-outline e-small" [disabled]="orders.length == 1"
              (click)="orders.removeAt(i)">remove</button>

          </div>
        </div>
      </div>
      <app-form-options [submitDisabled]='salesOrderForm.invalid'></app-form-options>
    </div>
  </form>
</section>
