output {
  width: 100%;
  color: red;
  text-align: center;
  border: 1px solid red;
}

div.label-area {
  padding: 0;
  text-align: center;
  font-size: .8em;
}


th,
td {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: .8em;

}

th {
  background: lightblue;
}


input.e-input {
  padding: 0;
  margin: 0;
}

.header {
  margin: 2em;
}

span.e-input-group-icon.e-spin-down,
span.e-input-group-icon.e-spin-up {
  display: none;
}


app-form-options {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}