table td,
.table th {
  padding: .2em;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.order-items-section.row {
  margin-top: 1em;
}
td.date-fields {
  text-align: center;
  width: 15%;
}

td.product {
  width: 35%;
}

td.quantity {
  width: 10%;
}

td.id {
  width: 5%;
}
thead tr {
  text-align: center;
  font-size: .8em;
}

tbody tr {
  font-size: .8em;
  text-align: center;
}

tr  input {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
}


span.e-spin-up,  span.e-spin-down {
  display: none !important;
}
