<div class="wrapper">
  <!--
  <ejs-sidebar id="sidebar" #sidebar [type]="type" class="e-accent">

    <div id='treeparent' class="e-accent">
      <ejs-treeview class="e-accent" (nodeSelected)="clickedNode($event)" id='treeelement' [fields]='field'></ejs-treeview>
    </div>
  </ejs-sidebar> -->
  <div id="head">
    <ejs-toolbar>
      <e-items>
        <e-item prefixIcon='e-icons e-menu-icon' [routerLinkActive]="'active-link inactive-link'" routerLink="/home"
          text="Home"></e-item>
        <e-item prefixIcon='e-icons e-menu-icon' [routerLinkActive]="'active-link inactive-link'" routerLink="/dashboard"
          text="Dashboard"></e-item>
        <e-item prefixIcon='e-icons e-menu-icon' [routerLinkActive]="'active-link inactive-link'" routerLink="/stocks"
          text="Stocks"></e-item>
        <e-item prefixIcon='e-icons e-menu-icon' [routerLinkActive]="'active-link inactive-link'" routerLink="/crm"
          text="CRM"></e-item>
        <e-item prefixIcon='e-icons e-menu-icon' [routerLinkActive]="'active-link inactive-link'" routerLink="/productions"
          text="Production"></e-item>
        <e-item prefixIcon='e-icons e-menu-icon' [routerLinkActive]="'active-link inactive-link'" routerLink="/procurments"
          text="Procurment"></e-item>
        <e-item prefixIcon='e-icons e-menu-icon' [routerLinkActive]="'active-link inactive-link'" routerLink="/settings"
          text="Settings"></e-item>
      </e-items>
    </ejs-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
