<div class="wrapper">
  <ejs-sidebar  id="sidebar" #sidebar  [type]="type" >

      <div id='treeparent'>
        <ejs-treeview (nodeSelected)="clickedNode($event)"  id='treeelement' [fields]='field'></ejs-treeview>
      </div>
  </ejs-sidebar>
  <div id="head">
    <button ejs-button id="toggle" #togglebtn cssClass="e-flat e-active" iconCss="e-icons burg-icon" isToggle="true" (click)="btnClick()"
      content="Close">

    </button>
    <div class="main-content">
    <router-outlet class="router"  ></router-outlet>
  </div>
  </div>
</div>

