#sidebar {
  min-width: 200px;
  max-width: 250px;
  margin-right: 20px;
  /* top layer */
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.main-content {
  margin: 1em;
}
