<ejs-grid #grid [dataSource]='data' [editSettings]='editSettings' [allowGrouping]="true"
[allowResizing]="allowResizing" [allowReordering]="allowReordering" [allowPaging]="pageSettings" [allowExcelExport]="true"
  [toolbar]='toolbar'  id="product" (toolbarClick)='toolbarClick($event)' (rowSelected)="rowSelected($event)"
  [showColumnChooser]="showColumnChooser"
  [showColumnMenu]="showColumnMenu">
  <e-columns>
    <e-column [isPrimaryKey]="col.primaryKey" *ngFor="let col of columnBluePrint" [validationRules]="col.validationRule"
      [allowEditing]="col.editable" [field]='col.key' [width]="col.width" [isIdentity]="col.isIdentity" [headerText]='col.humanReadable'
      [editType]="col.dataType"></e-column>

  </e-columns>
</ejs-grid>
