<section>
  <h5>{{title}}</h5>
  <app-notification #notification></app-notification>

  <form [formGroup]="workstationForm" (ngSubmit)="onSubmit()">
    <app-form-options [submitButtonText]='submitButtontext' [submitDisabled]='workstationForm.invalid'></app-form-options>
    <div class="container-fluid e-card">
      <div class="row">
        <div class="col-6 col-xs-12">
          <div class="row">
            <label for="name" class="col-4 col-xs-6 label-area">Name</label>
            <div class="col-6">
              <input type="text" class="e-input" floatLabelType="Auto" formControlName="name" id="name" name="name"
                placeholder="Workstation Name">
              <div class="e-error" *ngIf="name.errors">
                <div *ngIf="name.errors['required']">
                  Workstation Name is Required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <label for="workstationGroup" class="col-4 col-xs-6 label-area">Group/Type</label>
            <div class="col-6">
              <ejs-dropdownlist [dataSource]="workstationGroupList" [fields]="workstationGroupFields"
                filterBarPlaceholder='Search Group Name' formControlName="groupId" id="workstationgroup" name="workstationGroup"
                placeholder="Select Workstation Group" floatLabelType="Auto">
                <ng-template #headerTemplate let-data>
                  <div> <button type="button" (click)="createWorkstationGroup()" ejs-button>Create Workstation Group
                    </button></div>
                </ng-template>
              </ejs-dropdownlist>
              <div class="e-error" *ngIf="groupId.errors">
                <div *ngIf="groupId.errors['required']"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <label for="productivity" class="col-4 col-xs-6 label-area">Productivity Level</label>
            <div class="col-6">
              <ejs-numerictextbox formControlName="productivity" id="productivity" name="productivity" placeholder="Productivity Level"></ejs-numerictextbox>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="isActive" class="col-4 col-xs-6 label-area">Is Active</label>
              <ejs-switch formControlName="isActive" name="isActive" id="isActive"></ejs-switch>
              <div class="e-error" *ngIf="isActive.errors">
                <div *ngIf="isActive.errors['required']" x18n="workstation status ">Group Status is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-xs-12">
          <div class="row">
            <label for="hourlyRate" class="col-4 col-xs-6 label-area">Hourly Rate</label>
            <div class="col-6">
              <ejs-numerictextbox formControlName="hourlyRate" id="hourlyRate" name="hourlyRate" placeholder="Hourly Rate"></ejs-numerictextbox>
            </div>
          </div>
          <div class="row">
            <label for="holidayHours" class="col-4 col-xs-6 label-area">Maintainance Hours</label>
            <div class="col-2 col-xs-6">
              <ejs-switch #holidayHour [checked]="holidayHours.value"></ejs-switch>
            </div>
            <div class="col-6">
              <ejs-numerictextbox *ngIf="holidayHour.checked" formControlName="holidayHours" id="holidayHours" name="holidayHours"
                placeholder="Holidays Rate"></ejs-numerictextbox>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-xs-6 label-area">Maintainance Hours</div>
            <div class="col-2 col-xs-6">
              <ejs-switch #maintainanceHour [checked]="maintainanceHours.value"></ejs-switch>
            </div>
            <div class="col-6">
              <ejs-numerictextbox *ngIf="maintainanceHour.checked" formControlName="maintainanceHours" id="maintainanceHours"
                name="maintainanceHours" placeholder="Maintainance Cycle Hours"></ejs-numerictextbox>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-xs-6 label-area">Maintainance Cycle/ Item</div>
            <div class="col-2 col-xs-6">
              <ejs-switch #maintainanceItem [checked]=" maintainanceItems.value"></ejs-switch>
            </div>
            <div class="col-6">
              <ejs-numerictextbox formControlName="maintainanceItems" *ngIf="maintainanceItem.checked" id="maintainanceItems"
                name="maintainanceItems" placeholder="Maintainance Cycle Items"></ejs-numerictextbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-form-options [submitButtonText]='submitButtontext' [submitDisabled]='workstationForm.invalid'></app-form-options>
  </form>
</section>
