<section class="e-card">
 <ejs-grid [dataSource]='data' #grid  id='invoice' (toolbarClick)="toolbarClick($event)" [toolbar]='toolbarOptions'
  [allowPaging]="true" [pageSettings]='pageSettings' [allowSorting]="allowSorting" [allowGrouping]="allowGrouping"
  [allowResizing]='true'[groupSettings]='groupOptions' allowFiltering='allowFiltering' [height]=300  [showColumnChooser]="showColumnChooser"
 [editSettings]='editSettings' [allowExcelExport]="allowExcelExport"

 [allowPdfExport]='allowPdfExport'   [filterSettings]="filterOptions" [rowHeight]="20">
  <e-columns>

    <e-column [customAttributes]="customAttributes" *ngFor="let col of columnBluePrint; let i=index; let last=last;"
              [field]="col.key"
              [headerText]="col.humanReadable"
              [visible]="col.visable"
              [type]="col.type"
              [width]="col.width"
              [format]="col.format"
    >
  </e-column>
    <e-column [commands]="commands" [customAttributes]="customAttributes" [width]=25 textAlign="Center"  >
        <ng-template #headerTemplate let-data >
            <button ejs-button  (click)="addInvoice()" iconCss="e-icons e-add "  title="Create New Invoice"    class="e-large e-flat"  ></button>
          </ng-template>
    </e-column>

  </e-columns>
</ejs-grid>
</section>
