<section class="e-card">
  <ejs-grid #grid id="stock" [dataSource]='dataManager' [allowGrouping]="allowGrouping" [allowResizing]="allowResizing"
    [allowReordering]="allowReordering" [allowPaging]="pageSettings" [allowExcelExport]="allowExcelExport" [toolbar]='toolbar'
    (toolbarClick)='toolbarClick($event)' [showColumnChooser]="showColumnChooser" [showColumnMenu]="showColumnMenu"
    [filterSettings]='filterSetting' [groupSettings]='groupOptions' [allowFiltering]="true" [allowSorting]="allowSorting"
    [allowPdfExport]="allowPdfExport"  [editSettings]="editSettings" height="500" [rowHeight]=25>
    <e-columns>
      <e-column *ngFor="let col of columnBluePrint" [width]="col.width" [field]='col.key'
        [allowFiltering]="col.allowFiltering" [allowGrouping]="col.allowGrouping"
        [headerText]='col.humanReadable' [type]="col.type" [format]="col.format" [visible]="col.visable"
        [customAttributes]="customAttributes" >
      </e-column>
      <e-column [commands]="commands" [customAttributes]="customAttributes" width="25"> </e-column>
    </e-columns>
  </ejs-grid>
</section>
<app-notification #notification></app-notification>
