<section>
  <div>

  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="userRoleForm">
    <app-form-options [submitDisabled]="userRoleForm.invalid" [showDelete]='isUpdate' (deleted)="deleteRole()"></app-form-options>

    <div class="e-card">
      <label>Role Name</label>
      <input class="e-input" placeholder="Role Name" formControlName="roleName" />
      <div id='treeparent'>
        <button (click)="selectAll()" type="button" ejs-button class="e-primary e-small">Select All</button>
        <ejs-treeview id='treeelement' #rolesTree [showCheckBox]='true' (nodeClicked)='nodeCheck($event)' (nodeChecked)="nodeChecked($event)"
          [fields]='field'></ejs-treeview>
      </div>
    </div>
    <app-form-options [submitDisabled]="userRoleForm.invalid"></app-form-options>
  </form>
</section>

<app-notification #notification></app-notification>
