<ejs-toolbar>
  <e-items>
    <e-item routerLink="/stocks" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon' text="Items"
      i18n-text>
    </e-item>
    <e-item routerLink="/stocks/stock-lots" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Stock lots" i18n-text></e-item>
    <e-item routerLink="/stocks/write-offs" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Write-offs" i18n-text> </e-item>
    <e-item routerLink="/stocks/stock-lots/movements" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Stock movement" i18n-text> </e-item>
    <e-item routerLink="/stocks/shipments" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Shipments" i18n-text> </e-item>
    <e-item routerLink="/stocks/inventory" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Inventory" i18n-text> </e-item>
    <e-item routerLink="/stocks/low-stock" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Critical Items" i18n-text> </e-item>
    <e-item routerLink="/stocks/settings" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Stock Settings" i18n-text> </e-item>
  </e-items>
</ejs-toolbar>
<app-page-identity></app-page-identity>
<router-outlet></router-outlet>
