<ejs-toolbar>
  <e-items>
    <e-item routerLink="/stocks/items" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Items"
      i18n-text>
    </e-item>
    <e-item routerLink="/stocks/stock-lots" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Stock lots"
      i18n-text></e-item>
    <e-item routerLink="/stocks/write-offs" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Write-offs"
      i18n-text> </e-item>
    <e-item routerLink="/stocks/stock-lots/movements" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Stock movement"
      i18n-text> </e-item>
    <e-item routerLink="/stocks/product-groups" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Product groups"
      i18n-text> </e-item>
    <e-item routerLink="/stocks/shipments" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Shipments"
      i18n-text> </e-item>
    <e-item routerLink="/stocks/storages" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Storages Locations"
      i18n-text> </e-item>
    <e-item routerLink="/stocks/low-stock" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Critical Items"
      i18n-text> </e-item>
  </e-items>
</ejs-toolbar>
<router-outlet></router-outlet>
