<section>
  <h5>Waybill <span>#WB-00001</span></h5>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table width="100%" class="table">
          <tr>
            <td>Date</td>
            <td>08/14/2018</td>
            <td>Supplier</td>
            <td>Appdiv <br>
              Wooden material <br>
              asdsadasd asdjkh asdasd sda<br>
              asdasdad<br>
            </td>
          </tr>
          <tr>
            <td>Customer </td>
            <td >askdjhasjdkhas dasdaskjdhas <br>
              asdjadljalkdjaldsj
              asdhasjkdhjksdh</td>
              <td></td>
              <td></td>
          </tr>
          <tr>
            <td>Customer Order</td>
            <td > #CO-00001</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="4">Reference</td>
          </tr>

        </table>
      </div>
    </div>
    <div class="row" id="items-section">
      <div class="col-12">
        <table width="100%" class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Part #</th>
              <th>Name</th>
              <th>QUantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>A-0004</td>
              <td>Wooden Tabel</td>
              <td>100 pcs</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <tr>
            <td >Loaded By</td>
            <td class="balnk-input">&nbsp;</td>
            <td>Recieved By</td>
            <td class="balnk-input" >&nbsp;</td>
          </tr>
          <tr>
              <td>Truck/Trailor No</td>
              <td class="balnk-input">&nbsp;</td>
              <td>&nbsp;</td>
              <td >&nbsp;</td>
            </tr>
            <tr>
                <td>Driver</td>
                <td class="balnk-input">&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
              </tr>
              <tr>
                  <td>Date</td>
                  <td class="balnk-input">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Signiture</td>
                    <td class="balnk-input">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
        </table>
        </div>
    </div>
  </div>

</section>
