<ejs-toolbar>
  <e-items>
    <e-item routerLink="/productions/work-orders" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Manufacture orders"
      i18n-text>
    </e-item>
    <e-item routerLink="/productions/routings" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Routing"
      i18n-text>
    </e-item>
    <e-item routerLink="/productions/boms" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Bill of materials"
      i18n-text>
    </e-item>
    <e-item routerLink="/productions/workstations" routerLinkActive="active" prefixIcon='e-icons e-menu-icon' text="Work-stations groups"
      i18n-text>
    </e-item>
    <e-item routerLink="/productions/workstations/stations" routerLinkActive="active" prefixIcon='e-icons e-menu-icon'
      text="Work-stations" i18n-text>
    </e-item>
  </e-items>
</ejs-toolbar>
<router-outlet></router-outlet>
