<section class="e-card">
  <ejs-grid #grid [dataSource]='data' [editSettings]='editSettings' [allowGrouping]="true" [allowExcelExport]="true"
    [toolbar]='toolbar' [allowPdfExport]="true" [allowPaging]="true" height="300" [showColumnChooser]=true
    [allowReordering]="true" [allowResizing]="true" rowHeight="25" id="workstation" (toolbarClick)='toolbarClick($event)'>
    <e-columns>
      <e-column [customAttributes]="customAttributes" *ngFor="let col of columnBluePrint" [field]='col.key' [width]="col.width"
        [visible]="col.visable" [headerText]='col.humanReadable' [editType]="col.type"></e-column>
      <e-column headerText="Active" width="30" [customAttributes]="customAttributes" textAlign="center">
        <ng-template #template let-data>
          <ejs-switch [checked]="data.isActive"></ejs-switch>
        </ng-template>
      </e-column>
      <e-column [commands]="commands" [customAttributes]="customAttributes" textAlign="center" width="40"> </e-column>
    </e-columns>
  </ejs-grid>
</section>
<app-notification #notification></app-notification>
