<ejs-grid #grid [dataSource]='dataManager' [editSettings]='editSettings' [allowGrouping]="allowGrouping"
  [allowResizing]="allowResizing" [allowReordering]="allowReordering" [allowPaging]="allowPaging" [pageSettings]="pageSettings"
  [allowExcelExport]="allowExcelExport" [toolbar]='toolbar' id="pendingOrder" (toolbarClick)='toolbarClick($event)'
  (rowSelected)="rowSelected($event)" [showColumnChooser]="showColumnChooser" [showColumnMenu]="showColumnMenu"
  [filterSettings]="filterSetting" [groupSettings]='groupOptions' [allowFiltering]="allowFiltering" [allowSorting]="allowSorting"
  [allowPdfExport]="allowPdfExport">
  <e-columns>
    <e-column isPrimaryKey="true" textAlign="left" width="30" field='salesOrderId' isIdentity="true"
      headerText='ID' type="number">
    </e-column>
    <e-column textAlign="left" field='customer'  headerText='CUSTOMER' type="string" allowGrouping="true"
      width="30px">
    </e-column>
    <e-column textAlign="left" field="description"  headerText="DESCRIPTION" type="string"
      allowGrouping="true" width="40px">
    </e-column>
    <e-column textAlign="left" width="20px" field='itemCount'  headerText='ITEMS' type="numeric"
      allowGrouping="true" width="25px">
    </e-column>
    <e-column textAlign="left" width="20px" field='quantity'  headerText='QUANTITY' type="numeric"
      allowGrouping="true" width="20px">

    </e-column>
    <e-column textAlign="left" width="20px" field='orderDate'  headerText='ORDERED' type="date" format="yMd"
      allowGrouping="true" width="25px">

    </e-column>
    <e-column textAlign="left" width="20px" field='dueDate'  headerText='Due.' type="date" format="yMd"
      allowGrouping="true" width="25px">

    </e-column>
    <e-column textAlign="left" width="20px" field='orderedBy'  headerText='ORDERED BY' type="string"
      allowGrouping="true" width="30px">

    </e-column>
  </e-columns>
</ejs-grid>
