<ejs-grid #grid  [dataSource]='dataManager' [editSettings]='editSettings' [allowGrouping]="allowGrouping" [allowResizing]="allowResizing"
  [allowReordering]="allowReordering" [allowPaging]="allowPaging" [pageSettings]="pageSettings" [allowExcelExport]="allowExcelExport"
  [toolbar]='toolbar' id="salesorder"
  (toolbarClick)='toolbarClick($event)' (rowSelected)="rowSelected($event)" [showColumnChooser]="showColumnChooser"
  [showColumnMenu]="showColumnMenu" [filterSettings]="filterSetting"  [groupSettings]='groupOptions' [allowFiltering]="allowFiltering"
  [allowSorting]="allowSorting"
  [allowPdfExport]="allowPdfExport">
  <e-columns>
    <e-column [isPrimaryKey]="col.primaryKey" textAlign="left"  [width]="col.width" *ngFor="let col of columnBluePrint"
      [validationRules]="col.validationRule" [allowEditing]="col.editable" [field]='col.key' [allowGrouping]="col.allowGrouping" [visible]='col.visable'
      [isIdentity]="col.isIdentity"    [headerText]='col.humanReadable' [format]='col.format' [type]="col.type" [editType]="col.dataType"
      [customAttributes]="customAttributes"
      ></e-column>

  </e-columns>
</ejs-grid>
