<app-notification #notification></app-notification>

<section>
  <h6>{{title}}</h6>

  <form [formGroup]="productGroupForm" (ngSubmit)="onSubmit()">
    <app-form-options [submitButtonText]="submitButtonText" [showDelete]="isUpdate" (deleted)="deleteProductGroup()"
      [submitDisabled]="productGroupForm.invalid"></app-form-options>
    <div class=" e-card">
      <div class="container">
        <div class="row">
          <div class="col-6 col-xs-12">
            <div class="row">
              <label for="groupname" class="label-area col-xs-12 col-3">
                Group Name
              </label>
              <input type="text" class="e-input col-xs-12 col-9" id="groupname" name="groupname" floatLabelType="Auto"
                formControlName="groupName" placeholder="Group Name">
              <div class="e-error" *ngIf="groupName.errors">
                <div *ngIf="groupName.errors['required']"> Group Name is required</div>
              </div>
            </div>
            <div class="row">
              <label class="label-area col-xs-12 col-3" for="parentGroup">
                Parent Group
              </label>
              <ejs-dropdownlist class="col-xs-12 col-9" [dataSource]="productGroupsList" [fields]="productGroupFields"
                formControlName="parentId" placeholder="Parent Group" id="parentGroup" name="parentGroup"></ejs-dropdownlist>
            </div>
            <div class="row">
              <label for="description" class="label-area col-xs-12 col-3" i18n="product group description"> Description
              </label>
              <input type="text" class="e-input col-xs-12 col-9" formControlName="description" id="description" name="description"
                placeholder="Description">
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-form-options [submitButtonText]="submitButtonText" [showDelete]="isUpdate" (deleted)="deleteProductGroup()"
      [submitDisabled]="productGroupForm.invalid"></app-form-options>
  </form>
</section>
