<section class="e-card">
 <ejs-grid [dataSource]='data' #grid  [allowExcelExport]="true" id='invoice' (toolbarClick)="toolbarClick($event)" [toolbar]='toolbarOptions'
  [allowPaging]="true" [pageSettings]='pageSettings' [allowFiltering]="true" [allowSorting]="true" [allowGrouping]="true"
  [allowResizing]='true'[groupSettings]='groupOptions' allowFiltering='true'
  allowTextWrap='true' [textWrapSettings]='wrapSettings' gridLines='Both' [editSettings]='editSettings'
 [allowPdfExport]='true'  [filterSettings]="filterOptions" [rowHeight]="25">
  <e-columns>

    <e-column [customAttributes]="customAttributes" *ngFor="let col of columnBluePrint; let i=index; let last=last;"
              [field]="col.key"
              [headerText]="col.humanReadable"
              [visible]="col.visable"
              [type]="col.type"
              [width]="col.width"
              [format]="col.format"
    >
  </e-column>
    <e-column [commands]="commands" [customAttributes]="customAttributes" [width]=25 textAlign="Center"  >
        <ng-template #headerTemplate >
            <button ejs-button  (click)="addInvoice()" iconCss="e-icons e-add "  title="Create New Invoice"    class="e-large e-flat"  ></button>
          </ng-template>
    </e-column>

  </e-columns>
</ejs-grid>
</section>
