div.e-card {
  padding: 1em;
  margin: 1em;
}


div.feature-boxes {
  padding: 1em;
  margin: 1em;
  float: left;
  width: 20%;
}






.toolbar-menu-control .e-toolbar .e-toolbar-left .e-toolbar-item.e-template {
  padding: 0;
}


@media only screen and (max-width: 1300px) {
  .toolbar-menu-control {
    width: auto;
  }
}
