<ejs-toolbar>
  <e-items>
    <e-item text="Bionic ERP Solutions"></e-item>
    <e-item prefixIcon='e-icons e-menu-icon' [align]='logOutAlign' (click)="logOut()" *ngIf="isLogedIn" text="Log out"></e-item>
  </e-items>
</ejs-toolbar>
<section class="container-fluid ">
  <div class="row">
    <div class="feature-boxes e-card">
      <a routerLink='/dashboard'>Dashboard</a>
    </div>
    <div class="feature-boxes e-card">
      <a routerLink='/stocks'>Stock</a>

    </div>
    <div class="feature-boxes e-card">
      <a routerLink='/crm'>CRM</a>
    </div>
    <div class="feature-boxes e-card">
      <a routerLink='/productions'>Production</a>
    </div>
    <div class="feature-boxes e-card">
      <a routerLink='/procurments'>Procurments</a>
    </div>
    <div class="feature-boxes e-card">
      <a routerLink='/settings'>Settings</a>
    </div>
  </div>
</section>
