<section>
  <div class="e-card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
            <app-form-options></app-form-options>
        </div>
        <div class="col-4">
          <button ejs-button class="e-danger e-small" disabled="true" >Delete</button>
        </div>
    </div>
      <div class="row">
        <div class="col-6 col-xs-12">
          <ol>
            <dt>Order #</dt>
            <dd> {{customerOrder?.id}} </dd>
            <dt>Customer</dt>
            <dd>{{customerOrder?.customerName}}</dd>
            <dt>Status</dt>
            <dd>{{customerOrder?.status}}</dd>
            <dt>Delivery Date</dt>
            <dd> {{customerOrder?.deliveryDate}}</dd>
          </ol>
        </div>
        <div class="col-6 col-xs-12">
          <dt>Created By</dt>
          <dd>{{customerOrder?.createdBy}}</dd>
          <dt>Created</dt>
          <dd>{{customerOrder?.createdOn}}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <ejs-grid   id="invoiceGrids" [rowHeight]=25 [dataSource]="customerOrder?.orderItems"
            [allowExcelExport]=true>
            <e-columns>
              <e-column [customAttributes]="infoGridAttributes" *ngFor="let CO of columnBluePrint; let i=index; let last=last" [field]="CO.key" [headerText]="CO.humanReadable"
                [format]="CO.format" [visible]="CO.visible">

              </e-column>
              <e-column [commands]="customerOrderCommands" [customAttributes]="infoGridAttributes">
                  <ng-template #headerTemplate >
                      <button ejs-button  (click)="addNewOrderItem()" iconCss="e-icons e-add "     class="e-link e-large"  ></button>
                    </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button (click)="bookOrderItems()" class="e-warning"  ejs-button i18n >Check stock and book items</button>
        </div>
      </div>

      <div class="row">
        <div class="col-8 col-xs-12">

          <ejs-grid [allowResizing]="true" #invoiceGrid [allowReordering]="true" [rowHeight]="20"  [dataSource]="customerOrderInvoices">
            <e-columns>
              <e-column [customAttributes]="infoGridAttributes"   *ngFor="let invoiceCol of invoiceColumns; let i=index; let last=last;" [field]="invoiceCol.key"
                [headerText]="invoiceCol.humanReadable"  [format]="invoiceCol.format" [width]=30>
              </e-column>
              <e-column [commands]="invoiceCommands" [customAttributes]="infoGridAttributes" [width]="20" >
                  <ng-template #headerTemplate >
                      <button ejs-button  (click)="addInvoice()" iconCss="e-icons e-add "  textAlign="Right"   class="e-large e-flat"  ></button>
                    </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>
        </div>

      </div>
       <div class="row">
        <div class="col-12">
          <button (click)="addInvoice()" class="e-warning"  ejs-button i18n >Create Invoice</button>
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-xs-12">

          <ejs-grid [allowResizing]="true" #shipmentGrid [allowReordering]="true" [rowHeight]="20"  [dataSource]="customerOrderShipments">
            <e-columns>
              <e-column [customAttributes]="infoGridAttributes"   *ngFor="let shipentCol of shipmentColumns; let i=index; let last=last;" [field]="shipentCol.key"
                [headerText]="shipentCol.humanReadable" [type]="shipentCol.type" [format]="shipentCol.format" [width]="shipentCol.width">
              </e-column>
              <e-column [commands]="shipmentCommands" [customAttributes]="infoGridAttributes" [width]="10" >
                  <ng-template #headerTemplate >
                      <button ejs-button  (click)="addShipment()" iconCss="e-icons e-add "  textAlign="Right"   class="e-large e-flat"  ></button>
                    </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <button (click)="addShipment()" class="e-warning"  ejs-button i18n >Create Shipment</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-8">
          <app-form-options></app-form-options>
      </div>
      <div class="col-4">
        <button ejs-button class="e-danger e-small" disabled="true">Delete</button>
      </div>
  </div>
</section>
