input.e-input {
  padding: 0;
  margin: 0;
}


span.e-input-group-icon.e-spin-down,
span.e-input-group-icon.e-spin-up {
  display: none;
}

div.label-area {
  padding: 0;
  text-align: center;
  font-size: .9em;
}
