<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <app-stat-card title='Testing if it works' data='3000' ></app-stat-card>
        </div>

      <div class="col-sm-3 col-xs-12">
        <app-stat-card title='Testing if it works' data='3000' ></app-stat-card>
      </div>
      <div class="col-sm-3 col-xs-12">

        <app-stat-card title='Testing if it works' data='3000' ></app-stat-card>
      </div>
      <div class="col-sm-3 col-xs-12">
        <app-stat-card title='Testing if it works' data='3000' ></app-stat-card>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <app-stat-card title='Testing if it works' data='3000' ></app-stat-card>
        </div>

      <div class="col-sm-3 col-xs-12">
        <app-stat-card title='Testing if it works' data='3000' ></app-stat-card>
      </div>
      <div class="col-sm-3 col-xs-12">

        <app-stat-card title='Testing if it works' data='3000' ></app-stat-card>
      </div>
      <div class="col-sm-3 col-xs-12">
        <app-stat-card title='Testing if it works' data='3000' ></app-stat-card>

      </div>
    </div>
    <div class="row anual-sale ">
      <div class="col-12 e-card">
        <app-anual-sale-chart></app-anual-sale-chart>
      </div>
    </div>
  </div>
</section>
