<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <app-stat-card title='Testing if it works' data='3000' ></app-stat-card>
        </div>

      <div class="col-sm-3 col-xs-12">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title"> Confirmed Customer Orders</div>
            </div>
          </div>
          <div class="e-card-content">
            3
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">


      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title"> Total Inventory</div>
            </div>
          </div>
          <div class="e-card-content">
            150, 000 ETB
          </div>
        </div>

      </div>
    </div>
    <div class="row anual-sale ">
      <div class="col-12 e-card">
        <app-anual-sale-chart></app-anual-sale-chart>
      </div>
    </div>
  </div>
</section>
