<ejs-grid #grid [dataSource]='dataManager' [editSettings]='editSettings' [allowGrouping]="true" [allowResizing]="allowResizing"
  [allowReordering]="allowReordering" [allowPaging]="pageSettings" [allowExcelExport]="true" [toolbar]='toolbar' id="workorder"
  (toolbarClick)='toolbarClick($event)' (rowSelected)="rowSelected($event)" [showColumnChooser]="showColumnChooser"
  [showColumnMenu]="showColumnMenu" [groupSettings]='groupOptions'
  allowPdfExport="true">
  <e-columns>
    <e-column [isPrimaryKey]="col.primaryKey" [width]="col.width" *ngFor="let col of columnBluePrint"
      [validationRules]="col.validationRule" [allowEditing]="col.editable" [field]='col.key' [allowGrouping]="col.allowGrouping"
      [isIdentity]="col.isIdentity" [headerText]='col.humanReadable' [format]='col.format' [type]="col.type" [editType]="col.dataType"></e-column>

  </e-columns>
</ejs-grid>
