<app-notification #notification></app-notification>
<section>
  <h5>{{title}}</h5>


  <form [formGroup]="workstationGroupForm" (ngSubmit)="onSubmit()" name="workstationGroupForm">
    <app-form-options [submitButtonText]="submitButtonText" [submitDisabled]="workstationGroupForm.invalid"></app-form-options>
    <div class="container e-card">
      <div class="row">
        <div class="col-8 col-xs-12">
          <div class="row">
            <div class="col-12">
              <div xi18>Workstation Group Name</div>
              <input type="text" class="e-input" formControlName="name" placeholder="Workstation Group Name"
                floatLabelType="Autp" xi18-placeholder="workstation group name">
              <div class="e-error" *ngIf="name.errors">
                <div *ngIf="name.errors['required']" x18n>Group Name is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div xi18>Note</div>
              <input type="text" class="e-input" formControlName="description" placeholder="Description (Optional)"
                floatLabelType="Auto" xi18-placeholder="workstation group discription">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div xi18>Active</div>
              <ejs-switch formControlName="isActive" name="isActive"></ejs-switch>
              <div class="e-error" *ngIf="isActive.errors">
                <div *ngIf="isActive.errors['required']" x18n="workstation group">Group Status is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-form-options [submitButtonText]="submitButtonText" [submitDisabled]="workstationGroupForm.invalid"></app-form-options>
  </form>

</section>
