<ejs-toolbar>
  <e-items>
    <e-item routerLink="/procurments/purchase-orders" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Purchase orders" i18n-text>
    </e-item>
    <e-item routerLink="/procurments/vendors" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Vendors" i18n-text>
    </e-item>
    <e-item routerLink="/procurments/critical-on-hand" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Critical-on-hand" i18n-text>
    </e-item>
    <e-item routerLink="/procurments/requirments" [routerLinkActive]="'active-link inactive-link'" prefixIcon='e-icons e-menu-icon'
      text="Requirments" i18n-text>
    </e-item>
  </e-items>
</ejs-toolbar>
<app-page-identity></app-page-identity>
<router-outlet></router-outlet>
